:root {
    --black: #24292f;
    --gray: #797370;
    --purple: #5134fd;
    --purple-hover: #4a30df;

    --background-light: #f6f8fa;
    --background-dark: #092540;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

.navbar-wrapper {
    background-color: var(--black);
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.navbar {
    width: 800px;
    padding: 0px 25px;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links a,
.navbar-contact {
    color: inherit;
    text-decoration: none;
}

.navbar-links a {
    color: #f4ffff;
    margin-right: 40px;
    transition: all 50ms ease;
}

.navbar-links a:hover {
    color: #c2c2c2;
}

.navbar-contact {
    background-color: var(--purple);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    transition: all 50ms ease;
}

.navbar-contact:hover {
    background-color: var(--purple-hover);
    cursor: pointer;
}