:root {
    --black: #24292f;
    --gray: #797370;
    --purple: #5134fd;
    --purple-hover: #150e3d;

    --text-h: #fffefa; 
    --text-p: #6e6e73;

    --background-light: #f5f5f7;
    --background-dark: #092540;
}

body {
    background-color: var(--background-light);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.row {
    min-width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-cards {
    padding: 0px 25px;
    width: 1100px;
}

.row-card-lg-inner {
    height: 50px;
    margin-top: 65px;
    align-items: center;
}

.navbar-wrapper {
    background-color: var(--black);
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.navbar {
    padding: 0px 25px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 150ms ease;
}

.navbar p:hover {
    color: lightgray;
}

.navbar p span {
    font-weight: 700;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    transition: all 50ms ease;
    font-size: 14px;
    font-weight: 500;
}

.navbar-links a:hover {
    color: lightgray;
}

.container {
    margin: 50px 0px;
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
}

.card {
    margin: 10px 0px;
    border: none;
    border-radius: 25px;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.card:hover {
    transform: scale(1.01);
}

.card-inner {
    padding: 40px;
}

.card-inner h5 {
    color: var(--purple);
    margin: 0px 0px 15px 0px;
}

.card-skills h5 {
    color: #00d4ff;
}

.card-inner h4 {
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
}

.card-inner h3 {
    color: #fefefe;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.card-inner h3 span {
    color:rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 45px;
    right: 25px;
    font-size: 12px;
}

.span-mod {
    color: #f13d48 !important;
    position: inherit !important;
    font-size: inherit !important;
    display: inline !important;
}

.span-lsu {
    color: gold !important;
}

.span-bb {
    color: #fca611 !important;
    font-size: 30px !important;
    font-family: "Yellowtail", sans-serif;
    animation: flicker 1.5s infinite alternate;
}

.span-swappy {
    color: white !important;
    font-size: 30px !important;
    font-family: "Lobster", cursive;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 1px #fff,
        0 0 15px #fca611;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
}

.card-inner h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}

.card-inner p {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 400;
}

.card-sm {
    width: 425px;
    height: 500px;
}

.card-md {
    position: relative;
    width: 537px;
    height: 450px;
}

.card-md img {
    position: absolute;
    left: 20%;
    bottom: 0%;
    height: 360px;
}

.img-bb {
    left: 15% !important;
    bottom: 5% !important;
}

.card-lg {
    width: 650px;
    height: 500px;
}

.card-lg button {
    color: white;
    background-color: var(--purple);
    margin-right: 15px;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    transition: all 150ms ease;
    cursor: pointer;
    font-size: 14px;
}

.card-lg button:hover {
    background-color: var(--purple-hover);
}

.card-lg a {
    color: black;
    margin-right: 20px;
}

.card-xl {
    width: 1100px;
    height: 400px;
}

.card-about {
    background-color: white;
}

.card-parkzen {
    background-color: #00509d;
}

.card-ps {
    background-color: black;
}

.card-lsu {
    background-color: #44177d;
}

.card-skills {
    color: white;
    background-color: #0a2540;
}

.card-skills p {
    margin: 18px 0px;
    font-size: 16px;
    font-weight: 600;
}

.card-skills p span {
    color: rgba(255, 255, 255, 0.8);
}

.card-bb {
    background-color: #23212c;
}

.card-swappy {
    background-color: #ff464b;
}

.card-contact {
    background-color: white;
}

.card-contact p {
    font-size: 16px;
}

.card-contact a {
    color: var(--purple);
    text-decoration: none;
    font-size: 16px;
}

.card-contact i {
    color: black;
    font-size: 40px;
    margin-top: 15px;
    margin-right: 25px;
}

.fa {
    font-size: 30px;
    transition: all 150ms ease;
}

.fa-envelope {
    font-size: 25px;
}

.fa-linkedin:hover {
    color: #0a66c2;
}

.fa-envelope:hover {
    color: #27a2e3;
}

.card-pic {
    display: flex;
    align-items: center;
}

.card-pic:hover {
    transform: none;
}

.pic {
    width: 425px;
    height: 425px;
    border-radius: 25px;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.pic:hover {
    transform: scale(1.01);
}

@media screen and (max-width: 1160px) {
    .row-cards {
        width: 0;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 75vw;
        height: max-content;
        min-height: 500px;
    }

    .card-inner h1 {
        font-size: 28px;
    }

    .card-pic {
        display: none;
    }

    .pic {
        display: none;
    }

    .card-md img {
        left: 15vw;
        bottom: 15%;
        min-height: 275px;
        height: 30vw;
    }

    .img-bb {
        bottom: 15% !important;
    }

    .card-xl {
        height: max-content !important;
        min-height: 0px;
    }
}

@media screen and (max-width: 450px) {
    .card-inner h1 {
        font-size: 20px;
    }

    .card-inner p {
        font-size: 14px;
        margin: 10px 0px;
    }

    .card-inner h3 span {
        display: none;
    }

    .row-card-lg-inner {
        margin-top: 60px;
    }

    .row-card-lg-inner a {
        display: none;
    }

    .card-md img {
        left: 5%;
    }

    .img-bb {
        left: 5% !important;
    }

    .card-xl {
        height: max-content !important;
        min-height: 0px;
    }
}