:root {
    --black: #24292f;
    --gray: #797370;
    --purple: #5134fd;
    --purple-hover: #4a30df;

    --text-h: #fffefa; 
    --text-p: rgb(192, 192, 192);

    --background-light: #f6f8fa;
    --background-dark: #092540;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

.navbar-wrapper {
    background-color: var(--black);
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.navbar {
    width: 2050px;
    padding: 0px 25px;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.navbar p span {
    font-weight: 700;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: #f4ffff;
    margin-right: 25px;
    text-decoration: none;
    transition: all 50ms ease;
}

.navbar-links a:hover {
    color: #c2c2c2;
}

.social-link {
    margin-right: 0 !important;
}

.toggle-menu {
    color: white;
    display: none;
    font-size: 20px;
}

.intro-wrapper {
    background-color: var(--black);
    width: 100vw;
    height: calc(100vh - 120px);
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 1200px;
    height: max-content;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-pic {
    height: 350px;
    border-radius: 5px;
}

.intro-right {
    width: 600px;
}

.intro-right h3 {
    color: var(--purple);
}

.intro-right h1 {
    color: var(--text-h);
    width: max-content;
    position: relative;
    font-size: 45px;
    font-weight: 500;
}

.intro-right h1:before {
    background-color: var(--black);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    animation: animate 3s steps(12) infinite
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

.intro-right p {
    color: var(--text-p);
}

@media screen and (max-width: 550px) {
    .navbar-links { display: none }
    .toggle-menu { display: block }
    .intro-right h1 { font-size: 28px }
}

@media screen and (max-width: 1150px) {
    .intro {
        width: 50vw; 
        flex-direction: column; 
    }

    .intro-wrapper {
        height: max-content;
    }

    .intro-pic {
        height: 20vw;
        border-radius: 200px;
    }

    .intro-right {
        width: 60vw;
    }
}