:root {
    --black: #24292f;
    --gray: #797370;
    --purple: #5134fd;
    --purple-hover: #4a30df;

    --background-light: #f6f8fa;
    --background-dark: #092540;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

.navbar-wrapper {
    background-color: var(--black);
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.navbar {
    width: 800px;
    padding: 0px 25px;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links a,
.navbar-contact {
    color: inherit;
    text-decoration: none;
}

.navbar-links a {
    color: #f4ffff;
    margin-right: 40px;
    transition: all 50ms ease;
}

.navbar-links a:hover {
    color: #c2c2c2;
}

.navbar-contact {
    background-color: var(--purple);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    transition: all 50ms ease;
}

.navbar-contact:hover {
    background-color: var(--purple-hover);
    cursor: pointer;
}

.intro-page {
    background-color: var(--background-light);
    width: 100vw;
    height: calc(100vh - 60px);
}

.col {
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
}

.intro,
.about,
.skills {
    width: 800px;
    height: max-content;
}

.intro {
    padding-top: 5vh;
    padding-left: 25px;
    padding-right: 25px;
}

.pic {
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 500px;
}

@media screen and (max-width: 675px) {
    .pic { 
        width: 120px;
        height: 120px;
        float: none 
    }
}

.intro h1 {
    color: var(--black);
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}

.intro h4 {
    color: var(--gray);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.intro h4 span {
    font-weight: 700;
}

.intro-touch,
.intro-download {
    margin: 40px 15px 0px 0px;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    transition: all 50ms ease;
    font-size: 14px;
}

.intro-touch {
    background-color: var(--purple);
    color: white;
    font-size: 12px;
    transition: all 50ms ease;
}

.intro-touch:hover {
    background-color: var(--purple-hover);
    cursor: pointer;
}

.intro-download {
    background-color: white;
    color: var(--black);
    border: 1px solid #dde0e2;
    font-size: 12px;
}

.fa-download {
    color: var(--black);
    margin: 0px 5px 0px 0px;
    transition: all 50ms ease;
}

.intro-download:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.about {
    padding: 100px 25px 0px 25px;
}

.about h2 {
    color: var(--black);
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}

.about p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
}

.about p span {
    color: var(--purple);
    font-weight: 600;
}

.skills-page {
    background-color: var(--background-dark);
    width: 100vw;
    height: 106vh;
}

.skills {
    background-color: var(--background-dark);
}

.experience-page {
    background-color: var(--background-light);
    width: 100vw;
    height: 100vh;
}